* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    width: 400px;
    height: 470px;
    min-height: 400px;
    text-align: center;
    margin-left: 750px;
    margin-right: 750px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box2 {
    width: 400px;
    height: 580px;
    min-height: 400px;
    text-align: center;
    margin-left: 750px;
    margin-right: 750px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headers1 {
    text-align: left;
    margin-left: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: auto;
}

.logos {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logos>a>img {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    transform: rotate3d(45deg, 45deg, 45deg)
}

input[type=text] {
    width: 75%;
    padding: 10px 12px;
    margin: 10px;
}

input[type=password] {
    width: 75%;
    padding: 10px 12px;
    margin: 10px;
}

.checkbox {
    text-align: left;
    margin-left: 52px;
}

.btn {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.btn:hover,
.btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.btn:active {
    opacity: .5;
}

.text1 {
    margin-top: 25px;
}